body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    font-weight: 400;
}

a {
    text-decoration: none;
    color:azure;
}

header, footer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 70px;
}

.header-logo {
    color: azure;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}


#section-one-heading {
    font-size: 48px;
    color: #F9FAF8;
}

.section-one {
    color: azure;
    background-color: #1f2937;
    justify-content: space-evenly;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    padding: 35px;
}

.left {
    width: 500px;
    text-align: left;
}

.right {
    width: 450px;
    height: 250px;
    background-color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-one-text {
    color: #3883f6;
}

button {
    background-color: #3883f6;
    color: azure;
    padding: 10px 30px;   
    border-radius: 5px;
    border: none;
}

.section-two {
    display: flex;
    padding: 35px;
    padding-bottom: 50px;
   align-items: center;
   flex-direction: column; 
}

.section-two-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.section-two-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.bundle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
}

.section-two-box {
    height: 125px;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid #3883f6;
    border-radius: 12px;
}

.section-two-subtext {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.section-three {
    display: flex;
    padding: 70px 35px;
    background-color: #e5e7eb;
}


footer p {
    color: #e5e7eb;
}