body {
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    background-color: #1f2937;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li {
    font-weight: 300;
}

a {
    text-decoration: none;
    color:azure;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    margin: none;
}

.header-logo {
    color: azure;
    font-size: 20px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 80px;
    margin-left: 10%;
    margin-right: 10%;
}

#section-one-heading {
    font-size: 48px;
    color: #F9FAF8;
}

.section-one {
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    font-size: 18px;
    color: #e5e7eb;
}

.left {
    width: 50%;
    text-align: left;
}

.right {
    width: 50%;
    background-color:#e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-one-text {
    color: #3883f6;
}

button {
    background-color: #3883f6;
    color: azure;
    padding: 10px 30px;   
    border-radius: 5px;
    border: none;
}

footer {
    text-align: center;
}

footer p {
    color: #e5e7eb;
}